body { 
    background-image: url("http://www.lanlinglaurel.com/data/out/83/4651581-pic-background.jpg")
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    background-color: pink;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    width: 400px;
    height: 250px;
    background-color: pink;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: right;
    justify-content: right;
    width: 400px;
    height: 250px;
    background-color: pink;
}

